/**
 * Site header
 */

#full-width-header-graphic{
    margin: 0px;
    padding: 0px;
}

.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    background-color: $header-green;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    color: $title-color;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 0;
    padding-bottom: 0;
    float: left;
    text-transform: uppercase;

    &:hover{
        color: darken($title-color, 40%);
        text-decoration: none;
    }

    &:visited {
        color: $title-color;
    }
}

.site-nav {
    float: right;
    margin-top: 15px;
    
    padding: 0px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: lighten($title-color, 1%);
        font-size: 20px;
        font-weight: 100;
        padding: 10px 10px 13px 10px;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 28px;
        }
    }

    .active {
        background-color: lighten($header-green, 10%);
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            color: $grey-color-dark;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            color: $grey-color-dark;
            display: block;
            padding: 5px 10px;
        }
    }
}


/**
* Sub Nav:
*/
nav.sub-nav{
    margin: 0;
    padding: 0;
    clear: both;
    text-align: right;
    border-top: 2px solid #eee;
}

ul.sub-nav-list{
    list-style-type: none;
}

ul.sub-nav-list li{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;

    &:hover{
        background-color: darken($header-green, 10%);
    }

    &.active{
        background-color: lighten($header-green, 15%);
    }
}

ul.sub-nav-list li a{
    color: white;

    &:hover{
        text-decoration: none;
    }
}





/**
 * Site footer
 */
.site-footer {
    border-top: 2px solid $grey-color-light;
    padding-top: $spacing-unit/2;
    padding-bottom: 0;
    background-color: $footer-green;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color-light;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
